@media (max-width:768px) {
    .header__content {
        max-width: 100%;
        padding: 0px 30px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .not-only__content {
        margin-top: 80px;
        display: flex;
        align-self: flex-start; 
    }
}

@media (max-width:768px) {
    .not-only {
        display: flex;
        flex-direction: column;
        margin-top: -193px;
    }
    .not-only__container {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       margin: 0 auto;
       /* align-items: center;
       padding-left: 27px; */
       /* padding-left: 2px; */
}

    .not-only__content {
        max-width: 71%;
        display: flex;
        justify-content: center;
        /* padding-left: 27px; */
        /* margin-left: 70px; */
    }
    .not-only__title {
        display: flex;
        flex-direction: column;
        width: 66%;
        padding-left: 20px;
        /* margin-left: 70px; */
    }

   .not-only__text {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 92%;
   }

    .not-only__btn {
        /* margin: 0 126.5px; */
        /* display: flex;
        flex-direction: column; */
        margin-left: -1px;
        margin-bottom: 100px;
        align-self: center;
    }
}

@media (max-width:768px) {
    .start-puppy { 
 display: flex;
 max-width: 80.5%;
 /* max-height: 81.5%; */
 position: sticky;
 align-self: flex-end;
 margin-left: 8.5px;
 box-sizing: content-box;
 /* margin-right: 20px; */
 /* align-items: center; */
    } 
 }
@media (min-width: 320px) and (max-width:810px) {

    .modal__img {
        width: 80%;
    }

    .modal__content {
        display: flex;
        /* flex-direction: column; */
    }

    .modal__text {
        /* max-height: 270px; */
        padding: 0;
    }

    
}

@media (min-width: 769px) and (max-width: 1279px) {
    .about {
        max-width: 100%;
        margin: 40px 0px 50px 0px;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    .about__content { 
        max-width: 100%;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
        align-items: center;
    }

    .about__text {
        max-width: 100%;
        display: flex;
        margin-top: 66px;
        align-content: center;
    }
    .about__pets {
        margin-left: 0px;
        max-width: 48%;
        max-height: 408px;
        margin-top: 80px;
        margin-bottom: 20px;
        align-items: flex-end;
    }

}

@media (min-width:768px) and (max-width:768px) {
    .about {
        margin: 0 auto;
        padding: 0;
        align-items: center;
    }
     
    .about__content { 
        max-width: 670px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column-reverse;
        text-align: start;
    }


    .about__text {
        max-width: 82%;
        display: flex;
        margin-top: 65.5px;
        row-gap: 24px;
        padding-left: 26px;
        align-items: flex-start;
    }
    .about__pets {
        align-self: center;
        max-width: 48%;
        max-height: 408px;
        margin-top: 80px;
        margin-bottom: 20px;
        /* align-items: flex-end; */
    }

    .about__subtitle2 {
        padding-top: 1px;
    }
}
    

@media (min-width:768px) and (max-width:1279px){


    .pets__slider {
        display: flex;
        /* right: 0; */
        margin-left: 0px;
        flex-direction: row;
        column-gap: 40px;
        /* overflow: hidden; */
        padding: 59.5px 0px;
    }


    
@keyframes move-right {
    from {margin-left: 0px;}
    to {margin-right: 1340px;}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 2s
}

@keyframes move-left {
    from {margin-left: 0px;}
    to {margin-right: -1340px;}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 2s
}

    .slider__wrapper {
        display: flex;
        max-width: 630px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }


    .modal {
       box-sizing: unset;
    }


    .modal__img{
        max-width: 100%;
        max-height: 100%;
        box-sizing: unset;
    }

    .pets__btn {
        margin: 0 auto;
    }
    /* .slider__card:nth-child(3) {
        display: none;
        /* position: absolute; 
   } */
   
   .slider__btn--left {
    position: absolute;
    left:17px;
    }
    
    .slider__btn--right {
    position: absolute;
    right: 17px;
    }
}



@media (min-width:768px) and (max-width:1024px) {
    .help__list {
        display: flex;
        flex-direction: row;
        gap: 55px 64px;
        margin: 0 auto;
        padding: 59px 40px 101px 40px;

    }
    .help__list-item {
        width: 166px;
        height: 113px;
        }

}
@media (min-width:670px) and (max-width:767px) {
    .help__list {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        /* gap: 30px 0px; */
        justify-content: space-between;
        padding: 41px 15px 42px 15px;
    }
}


@media (min-width:768px) and (max-width:1024px) {
    .in-addition__wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 79px;
    }

    .in-addition__content {
        max-width: 50.5%;
        margin: 0 auto;
        padding-left: 3px;
    }

    .in-addition__img {
        margin-top: 49px;
    }

    
    .contacts {
        padding: 0 25px;

    }
    .locations  {
        padding: 0 31px;
    }

    .footer {
        box-sizing: unset;
    }

    .footer__nav {
        padding: 30px 40px 0px 40px;
    }

    .footer-puppy {
        height: 100%;
        width: 100%;
        padding-top: 65px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: unset;
    }

}



/* ____________________responsive_320px___________________ */

@media (max-width:320px) {
    .noscroll {
        width: 320px;
        overflow: hidden;
        position: fixed;
    }   

    body {
        overflow: auto;
    }
}

@media (min-width:320px) and (max-width:767px) {

    .noscroll {
        height: 100vh;
        overflow: hidden;
        position: fixed;
    }

    .burger--shadow {
        width: 100vh;
        height: 100vh;
        box-shadow: #292929;
        z-index: 999;
    }

    .header__content {
       padding: 0px 20px;
    }

    .menu__list {
       display: none;
   }

    .not-only__content {
       max-width: 99%;
       display: flex;
       text-align: center;
   }

   .not-only__title {
       padding: 0;
       margin: 0 auto;
       max-width: 65%;
       font-weight: 400;
       font-size: clamp(1.5625rem, 0.8914rem + 3.3557vw, 2.5rem);
       line-height: 130%;
       letter-spacing: 0.06em;
       text-align: center;
       width: 100%;
       height: 30%;
    }

    .not-only__text {
       text-align: center;

    }

    .not-only__btn {
       margin-top: -1px;
       margin-bottom: 105px;
   }

    .start-puppy {
       max-width: 81.5%;
       padding-left: 39px;
       margin: 0 auto;
       display: flex;
       align-self: center; 

   }

    .burger {
      margin-top: 19px;
      padding-right: 2px;
      display: inline-block;
      position: relative;
      width: 30px;
      height: 22px;
      transition: all 0.5s ease-in-out;
      z-index: 1;
   }

   .burger::before {
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #F1CDB3;
   }
   .burger::after {
       content: '';
       left: 0;
       bottom: 0;
       position: absolute;
       display: inline-block;
       width: 100%;
       height: 2px;
       background-color: #F1CDB3; 
   }

   .burger__line {
      display: inline-block;
      position: absolute;
      background-color: #F1CDB3;
      width: 100%;
      height: 2px;
      top: calc(50% - 1px);
   }

   .burger.burger--active {
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out;
    z-index: 3;
    /* margin-right: 30px; */
}
.menu__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 320px;
    row-gap: 40px;
    /* padding-top: 250px; */
    padding-top: 180px;
    padding-bottom: 40px;
    /* overflow: auto; */
    /* top: -823px; */
    /* right: -320px; */
    top: 0;
    right: 0;
    background-color: #292929;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
    box-shadow: -100vh -50vh 2px 100vh rgba(45, 45, 45, 0.95); 
}

.menu__list--active {
    top: 0;
    transform: translateX(0);
    opacity: 1;
    z-index: 1;
    /* height: 100vh; */
}

.menu__item--border {
    width: 76%;
    height: 51px;
    font-family: Arial;
    font-size: 32px;
    font-weight: 400;
    line-height: 51.2px;
    text-align: center;
    color: #CDCDCD;
    border-bottom: 3px solid  rgb(241, 205, 179);
}
.menu__item,
.menu__item-link {
font-family: Arial;
font-size: 32px;
font-weight: 400;
line-height: 51.2px;
text-align: left;
color: #CDCDCD;
}

   .about {
       margin: 0 auto;
   }

   .about__content {
       display: flex;
       flex-direction: column-reverse;
   }

   .about__text {
    padding: 0;
    margin-top: 42px;
    display: flex;
    row-gap: 22px;
    max-width: 100%;
    align-content: center;
   }
  
   .about__title  {
       font-weight: 400;
       font-size: clamp(1.5625rem, 0.8914rem + 3.3557vw, 2.5rem);
       line-height: 131%;
       align-self: center;
       text-align: center;
   }

   .about__subtitle,
   .about__subtitle2 {
     margin-top: 1px;
     max-width: 85%;
     font-weight: 400;
     font-size: 15px;
     line-height: 160%;
     text-align: justify;
   }
    .about__pets {
       max-width: 81.5%;
       margin: 0 auto;
       padding-top: 40px;
       margin-bottom: 42px;   
       /* padding-left: 0px; */
    }

    .modal__img {
        display: none;
    }

    .modal__text {
        padding: 0em 2em;
        box-sizing: unset;
    }

    .pets__title,
    .help__title {
           padding-top: 42px;
           margin: 0px auto;
           font-weight: 400;
           font-size: clamp(1.5625rem, 0.8914rem + 3.3557vw, 2.5rem);
           line-height: 130%;
           letter-spacing: 0.06em;
           align-self: center;
           text-align: center;
    }
    
    .in-addition__title {
       padding-top: 42px;
       margin: 0px auto;
       font-weight: 400;
       font-size: clamp(1.5625rem, 0.8914rem + 3.3557vw, 2.5rem);
       line-height: 130%;
       letter-spacing: 0.06em;
       align-self: center;
       text-align: center;
    }

    .pets {
        position: relative;
        /* overflow-x: hidden; */
        padding-bottom: 41px;
      }

 
      .pets__slider {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        max-width: 270px;
        padding: 41px 0px;
        row-gap: 0px; 
        
      }

      .slider__wrapper {
        display: flex;
        margin: 0 auto;
        max-width: 270px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    
    @keyframes move-right {
        from {margin-left: 0px;}
        to {margin-right: 720px;}
    }
    
    .transition-right {
        animation-name: move-right;
        animation-duration: 2s
    }
    
    @keyframes move-left {
        from {margin-left: 0px;}
        to {margin-right: -720px;}
    }
    
    .transition-left {
        animation-name: move-left;
        animation-duration: 2s
    }

    

      .slider__btn--left {
        position: absolute;
        /* left: 190px; */
        left: 68px;
        top: 76.5%;
        }
        
      .slider__btn--right {
        position: absolute;
        /* right: 190px; */
        right: 68px;
        top: 76.5%;
        }


      .pets__btn {
        margin: 73px auto 0px auto;
      }


      .help__title {
        padding-top: 42px;
      }

      .help__list-item {
       height: 87px;
       width: 130px; 
      }

      .help__list-icon {
        max-width: 50px;
        padding-bottom:16px;
      }

      .help__list-text {
        text-wrap: nowrap;
        margin: 0;
        padding: 0;
        font-size: clamp(0.9375rem, 0.7138rem + 1.1186vw, 1.25rem);
      }


      .in-addition__wrapper {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
      }

      .in-addition__content{
        padding: 0;
        max-width: 100%;
        display: flex;
        row-gap: 22px;
        align-items: center;
      }

      .in-addition__subtitle {
        font-weight: 400;
        font-size: 15px;
        line-height: 128%;
        letter-spacing: 0;
      }

      .in-addition__text {
        margin-top: -1px;
       max-width: 87%;
       font-style: italic;
       font-weight: 400;
       font-size: 12px;
       line-height: 150%;
       text-align: justify;
    
      }
    

     .credit-card {
        padding: 0;
        margin: 0 auto;
        display: flex;
        max-width: 87.5%;
        justify-content: center;

     }

     .credit-card__number {
        font-weight: 400;
        font-size: clamp(0.9375rem, 0.7138rem + 1.1186vw, 1.25rem);
        line-height: 110%;
        letter-spacing: 0.06em;
     }

     .in-addition__img {
        padding-top: 40.5px;
        padding-bottom: 41.5px;
        margin: 0 auto;
        max-width: 82%;
     }


     .footer__nav {
        padding: 2px;
        max-width: 98%;
        row-gap: 24px;
     }

     .contacts {
      padding-top: 28px;
      row-gap: 14px;
     }

     .contacts__title {
        max-width: 100%;
        padding: 0;
        font-weight: 400;
        font-size: clamp(1.5625rem, 1.1151rem + 2.2371vw, 2.1875rem);
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
     }

     .contacts__list {
        margin: 0 auto;
     }

     .contact__icon--phone {
        margin-left: 6px;
     }

     .locations {
        /* padding-top: 10px; */
        display: flex;
        row-gap: 13px;
        justify-content: center;
     }

     .locations__list {
        margin: 0 auto;
        row-gap: 40px;
        padding-left: 1px;
        /* margin-left: -5px; */
     }

     .locations__title {
        max-width: 100%;
        padding-left: 9px;
        font-weight: 400;
        font-size: clamp(1.5625rem, 1.1151rem + 2.2371vw, 2.1875rem);
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
        justify-content: center;
     }

     .footer__title-br {
        display: none;
     }

     .footer__nav {
        justify-content: center;
     }

     .footer-puppy {
            max-width: 84%;
            padding-top: 16px;
     } 

     }


     @media (min-width: 321px) and (max-width: 669px) {
        .help__list {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            gap: 30px;
            justify-content: space-between;
            padding: 41px 15px 40px 15px;
          }
     }

     @media (max-width:320px) {
         .help__list {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            gap: 30px 0px;
            justify-content: space-between;
            padding: 41px 15px 42px 15px;
          }
     }

