*,
*::before,
*::after {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

ul {
list-style: none;
}

a {
text-decoration: none;
}


.container {
margin: 0 auto;
max-width: 100%;
/* max-width: 1280px; */
justify-content: center;
align-self: center;
place-self: center;
}



.home {
width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
column-gap: 42px;
background: url(./img/pets/noise_transparent@2x.svg) top left / 130px repeat,
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
align-items: center; 
}


.header {
width: 100%;
/* display: flex;
flex-direction: row; */
padding: 30px 0px 90px 0px;
border-color: #FFFFFF;
text-align: left;
}

.header__content {
max-width: 1280px;
padding: 0px 40px;
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
/* padding: 0px 40px; */
}


.logo,
.logo__link {
text-decoration: none;
display: flex;
flex-flow: column nowrap;
row-gap: 9.2px;
transition-duration: 0.3s;
/* align-self: flex-start; */
}


.logo__title {
color: rgb(241, 205, 179);
font-family: Georgia;
font-size: 31.9px;
font-weight: 400;
line-height: 110%;
letter-spacing: 0.063em;
text-align: left;
padding-top: 0.5px;
}

.logo__subtitle {
color: #CDCDCD;
font-family: Arial;
font-size: 13px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.1em;
padding-left: 4px;
}

.menu {
width: 100%;
/* min-width: 1200px; */
margin: 0 auto;
display: flex;
justify-content: space-between;
}

.menu__list {
list-style: none;
display: flex;
flex-flow: row wrap;
column-gap: 35.5px;
align-content: center;
}

.menu__item,
.menu__item-link {
text-decoration: none;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #CDCDCD;
cursor: pointer;
transition-duration: 0.5s;
/* letter-spacing: 0.003em; */
}


.menu__item--border {
list-style: none;
width: 114px;
height: 26px;
display: flex;
flex-direction: column;

list-style: none;
color: #FAFAFA;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
border-bottom: 3px solid  rgb(241, 205, 179);
}

.menu__item:hover,
.menu__item-link:hover {
color: #FAFAFA;
}

.burger,
.burger__line {
    display: none;
}


.not-only {
max-width: 1280px;
display: flex;
flex-direction: row;
/* background-image:url(./img/pets/noise_transparent@2x.svg);
background-size: 10%; */
}

.not-only__container {
/* position: relative; */
display: flex;
flex-direction: row;
/* column-gap: 41.5px; */
margin: 0 auto;
margin-left: 40px;
/* padding-left: 40px;
flex-wrap: nowrap;
justify-content: space-between;
align-content: flex-start; */
}

.not-only__content {
/* position: relative; */
display: flex;
flex-direction: column;
row-gap: 42px;
/* min-width: 25%; */
max-width: 40.5%;
margin-top: 163px;
padding-right: 0px;
} 


.not-only__title {
/* min-width: 310px;
min-height: 114px; */
flex-direction: row;
align-items: center;
color: #FFFFFF;
font-family: Georgia;
font-size: 44px;
font-weight: 400;
line-height: 57px;
text-align: left;
max-width: 80%;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.not-only__text {
/* position: relative; */
max-width: 29rem;
display: flex;
flex-direction: row;
align-items: center;
color: #CDCDCD;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.not-only__btn {
/* position: relative; */
border: none;
font: inherit;
color: inherit;
background-color: transparent;
cursor: pointer;
width: 207px;
height: 52px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15px 45px 15px 45px;
border-radius: 100px;
background: #F1CDB3;

color: rgb(41, 41, 41);
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.059em;
transition-duration: 0.5s;
}

.not-only__btn:hover {
background-color: #FDDCC4;
cursor: pointer;
}


.start-puppy {
max-width: 100%;
min-width: 50%;
/* height: auto; */
align-self: flex-end; 
}


.about {
/* About */
/* position: relative; */
display: flex;
flex-flow: row nowrap;
margin: 80px 215px 100px 215px;
background: rgb(255, 255, 255);
}

.about__content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    }
    
    .about__text {
        max-width: 550px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 24px; 
        padding-top: 15px;
        padding-left: 25px;
        align-content: flex-end;
    }
    .about__pets {
        max-width:70%;
        max-height: 408px;
    }

.about__title {
/* Heading */
/* position: relative; */
max-width: 71%;
/* max-width: 370px; */
/* height: 92px; */
color: #545454;
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45.3px;
letter-spacing: 0.06em;
text-align: left;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
/* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}

.about__subtitle {
/* Subheading */
/* position: relative; */
/* max-width: 70%; */
/* max-width: 430px; */
/* height: 97px; */
max-width: 82%;
color: rgb(76, 76, 76);
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
/* letter-spacing: 0.06px; */
text-align: left;
}

.about__subtitle2 {
/* Subheading */
/* width: 430px;
height: 144px; */
/* max-width: 70%; */
max-width: 82%;
display: flex;
flex-direction: row;
/* align-items: center; */

color: rgb(76, 76, 76);
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
/* letter-spacing: 0.06px; */
text-align: left;
}


.pets {
/* Pets */
display: flex;
flex-direction: column;
background: rgb(246, 246, 246);
align-items: center;
padding-bottom: 101px;
overflow-x: hidden;
}

.pets__title {
/* Heading */
/* position: relative; */
justify-content: center;
color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 34.5px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.067em;
text-align: center;
padding-top: 81px;
padding-left: 3px;
}

.pets__slider {
/* Slider */
overflow-x: hidden;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
gap: 90px;
padding: 59px 0px;

/* display: grid;
grid-template-columns: 3.5rem 1fr 1fr 1fr 3.5rem;
grid-gap: 90px;*/
}

.slider__card{
background: rgb(250, 250, 250);
border-radius: 9px 9px 9px 9px;
display: flex;
flex-direction: column;
row-gap: 30px;
align-items: center; 
height: 435px;
/* width: 235px; */
transition-duration: 0.5s;
}

.slider__card:hover {
background-color: #FFFFFF;
box-shadow: 0px 12px 45px 24px #0D0D0D0A;
cursor: pointer;
}

.slider__card:hover > .card__btn {
border: 2px solid #FDDCC4;
background: #FDDCC4;
cursor: pointer;
}

.slider__card-title {
margin-left: 1px;
width: fit-content;
height: 23px;
color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 22.72px;
letter-spacing: 0.06em;
align-items: center;
text-align: center;

}

.card__btn {
width: 187px;
height: 52px;
box-sizing: border-box;
border: 2px solid rgb(241, 205, 179);
border-radius: 100px;
background: inherit;
color: rgb(41, 41, 41);
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22.1px;
letter-spacing: 0.06em;
transition-duration: 0.5s;
}

/* .slider__buttons {
    display: flex;
    justify-content: space-between;
    min-width: 84%;
    align-self: center;
    margin-top: 40px;
} */

.slider__btn {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
width: 52px;
height: 52px;
border: none;  
border-radius: 50%;
background-color: #F6F6F6;
border: 2px solid #F1CDB3;
transition-duration: 0.5s;
}

.slider__btn:hover{
border: 2px solid #FDDCC4;
background: #FDDCC4;
cursor: pointer;
}

.slider__btn--left {
margin-right: -37px;
margin-top: 1px;
}

.slider__btn--right {
margin-left: -37px;
margin-top: 1px;
}

.pets__btn {
/* position: relative; */
margin-top: 1px;
margin-left: 1px;
border: none;
width: 261px;
height: 52px;
padding: 15px 45px 15px 45px;
border-radius: 100px;
background: rgb(241, 205, 179);
transition-duration: 0.5s;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pets__btn:hover {
background: #FDDCC4;
cursor: pointer;
/* transition-duration: 0.5s; */
}

.pets__btn-text {
/* position: relative; */
justify-content: center;
/* padding-left: 2px; */
color: rgb(41, 41, 41);
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0.058em;
/* text-align: left;  */
}


.help {
/* Help */
/* position: relative; */
display: flex;
flex-direction: column;
align-items: center;
background: rgb(255, 255, 255);
max-width: 1200px;
margin: 0 auto;
}

.help__title {
/* Heading */
/* position: relative; */
padding-top: 79px;
padding-left: 2px;
color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45.5px;
letter-spacing: 0.06em;
text-align: center;
}

.help__list {
/* position: relative; */
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 55px 120px;
align-items: start;
place-content: center;
padding: 60px 40px 101px 40px;
}

.help__list-item {
display: flex;
flex-direction: column;
max-width: 166px;
max-height: 113px;
}

.help__list-icon {
height: fit-content;
padding-bottom: 25px;
}

.help__list-link {
text-decoration: none;
text-align: center;
/* height: 113px; */
transition-duration: 0.5s;
}

.help__icon {
    transition-duration: 0.5s;
}

.help__list-text {
    transition-duration: 0.5s; 
}

.help__list-link:hover {
 fill: #FDDCC4;
 color:  #292929;;

.help__icon {
   fill: #FDDCC4;  
}

.help__list-text {
    color: #292929;
}
}

.help__list-text {
display: flex;
text-align: center;
align-items: center;

flex-direction: column;
color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.06em;
text-align: center;
/* margin-top: 26px; */
}


.in-addition {
/* Donation */
/* position: relative; */
max-width: 100%;
background: rgb(246, 246, 246);
}

.in-addition__wrapper {  
max-width: 1280px;
margin: 0 auto;
display: flex;
flex-direction: row;
/* column-gap: 30px; */
column-gap: 25px;
justify-content: center;
padding-top: 80px;
padding-bottom: 100px;
}

.in-addition__content {
/* Donation-content */
/* max-width: 380px; */
max-width: 30%;
/* max-height: auto; */
padding-left: 5px;
display: flex;
flex-direction: column;
row-gap: 19.8px;
}

.in-addition__img {
position: relative;
width: fit-content;
height: fit-content;
padding-top: 11px;
}

.in-addition__title {
align-items: center;

color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0.06em;
text-align: left;
}

.in-addition__subtitle {
display: flex;
flex-direction: row;
align-items: center;

color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 16.5px;
letter-spacing: 0.06em;
text-align: left;
}

.in-addition__text {
display: flex;
flex-direction: row;
align-items: center;

color: rgb(178, 178, 178);
font-family: Arial;
font-style: italic;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
}

.credit-card {
margin-left: 0.5px;
width: 349px;
height: 43px;
display: flex;
/* flex-direction: row;
column-gap: 15px;
align-items: center; */
padding: 10px 15px 10px 15px;
border-radius: 9px;
background: rgb(241, 205, 179);
transition-duration: 0.5s;
}

.credit-card__link {
display: flex;
flex-direction: row;
column-gap: 15px;
align-items: center;   
}

.credit-card:hover {
    background: #FDDCC4;
    cursor: pointer;
}

.credit-card__number {
display: flex;
flex-direction: row;
align-items: stretch;

color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 115%;
letter-spacing: 0.058em;
text-align: left;
}

.footer {
/* position: relative; */
flex-direction: row;
justify-content: space-between;
background: url(./img/pets/noise_transparent@2x.svg) top left / 130px repeat, 
radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
#211f20;
}


.footer__nav {
/* position: relative; */
max-width: 1280px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
/* row-gap: 30px; */
justify-content: space-between;
padding: 40px 40px 0px 40px;
}


.contacts {
display: flex;
flex-direction: column;
flex-wrap: wrap;
row-gap: 39.5px; 
padding-top: 16.5px;
}

.locations {
max-width: max-content;
display: flex;
flex-direction: column;
flex-wrap: wrap;
row-gap: 32px; 
padding-top: 16.5px;
padding-right: 8px;
}


.contacts__title,
.locations__title {
/* position: relative; */
height: 90px;
color: rgb(255, 255, 255);
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.06em;
text-align: left;
opacity: 0.9;
}

.locations__title {
padding-left: 1px;
}

.contacts__list {
list-style: none;
display: flex;
flex-direction: column;
row-gap: 40px;
}

.locations__list {
list-style: none;
display: flex;
flex-direction: column;
row-gap: 33px;
}

.contact__link,
.locations__link {
text-decoration: none;
display: flex;
flex-direction: row;
align-items: center;
column-gap: 20px;
transition-duration: 0.5s;
}

.icon__path{
stroke-width: 2;
transition-duration: 0.5s;
}

.contact__text,
.locations__text {
   transition-duration: 0.5s;
}

.contact__link:hover {
    color: #FDDCC4;  
    fill:#FDDCC4;  
  
   .icon__path {
    fill: #FDDCC4;  
    }
    .contact__text {
        color: #FDDCC4;
    }
}

.locations__link:hover {
    color: #FDDCC4;  
    fill:#FDDCC4;  

   .icon__path{
    fill: #FDDCC4;  
    }
    .locations__text {
        color: #FDDCC4;
    }
}



.locations__item {
display: flex;
flex-wrap: wrap;
}

.locations__text {
white-space: none;
}

.contact__text,
.locations__text {
color: rgb(241, 205, 179);
font-family: Georgia;
font-style: normal;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.06em;
}

.locations__item--address {
/* position: relative; */
padding-top: 1px;
display: flex;
}


.footer-puppy {
display: flex;
max-width: 300px;
max-height: 310px;
}


/* @media (max-width:768px) {
    .home {
        margin: 0 auto;
        background: url(./img/pets/noise_transparent@2x.svg) top left / 15% repeat,
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    }
} */
