*,
*::before,
*::after {
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

ul {
list-style: none;
}

a {
text-decoration: none;
}


.container {
margin: 0 auto;
max-width: 100%;
/* max-width: 1280px; */
justify-content: center;
align-self: center;
place-self: center;
}



.home {
width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
column-gap: 42px;
background: url(./img/pets/noise_transparent@2x.svg) top left / 130px repeat,
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
align-items: center; 
}


.header {
width: 100%;
/* display: flex;
flex-direction: row; */
padding: 30px 0px 90px 0px;
border-color: #FFFFFF;
text-align: left;
}

.header__content {
max-width: 1280px;
padding: 0px 40px;
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
/* padding: 0px 40px; */
}


.logo,
.logo__link {
text-decoration: none;
display: flex;
flex-flow: column nowrap;
row-gap: 9.2px;
transition-duration: 0.3s;
/* align-self: flex-start; */
}


.logo__title {
color: rgb(241, 205, 179);
font-family: Georgia;
font-size: 31.9px;
font-weight: 400;
line-height: 110%;
letter-spacing: 0.063em;
text-align: left;
padding-top: 0.5px;
}

.logo__subtitle {
color: #CDCDCD;
font-family: Arial;
font-size: 13px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.1em;
padding-left: 4px;
}

.menu {
width: 100%;
/* min-width: 1200px; */
margin: 0 auto;
display: flex;
justify-content: space-between;
}

.menu__list {
list-style: none;
display: flex;
flex-flow: row wrap;
column-gap: 35.5px;
align-content: center;
}

.menu__item,
.menu__item-link {
text-decoration: none;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #CDCDCD;
cursor: pointer;
transition-duration: 0.5s;
/* letter-spacing: 0.003em; */
}


.menu__item--border {
list-style: none;
width: 114px;
height: 26px;
display: flex;
flex-direction: column;

list-style: none;
color: #FAFAFA;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
border-bottom: 3px solid  rgb(241, 205, 179);
}

.menu__item:hover,
.menu__item-link:hover {
color: #FAFAFA;
}

.burger,
.burger__line {
    display: none;
}


.not-only {
max-width: 1280px;
display: flex;
flex-direction: row;
/* background-image:url(./img/pets/noise_transparent@2x.svg);
background-size: 10%; */
}

.not-only__container {
/* position: relative; */
display: flex;
flex-direction: row;
/* column-gap: 41.5px; */
margin: 0 auto;
margin-left: 40px;
/* padding-left: 40px;
flex-wrap: nowrap;
justify-content: space-between;
align-content: flex-start; */
}

.not-only__content {
/* position: relative; */
display: flex;
flex-direction: column;
row-gap: 42px;
/* min-width: 25%; */
max-width: 40.5%;
margin-top: 163px;
padding-right: 0px;
} 


.not-only__title {
/* min-width: 310px;
min-height: 114px; */
flex-direction: row;
align-items: center;
color: #FFFFFF;
font-family: Georgia;
font-size: 44px;
font-weight: 400;
line-height: 57px;
text-align: left;
max-width: 80%;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.not-only__text {
/* position: relative; */
max-width: 29rem;
display: flex;
flex-direction: row;
align-items: center;
color: #CDCDCD;
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.not-only__btn {
/* position: relative; */
border: none;
font: inherit;
color: inherit;
background-color: transparent;
cursor: pointer;
width: 207px;
height: 52px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 15px 45px 15px 45px;
border-radius: 100px;
background: #F1CDB3;

color: rgb(41, 41, 41);
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.059em;
transition-duration: 0.5s;
}

.not-only__btn:hover {
background-color: #FDDCC4;
cursor: pointer;
}


.start-puppy {
max-width: 100%;
min-width: 50%;
/* height: auto; */
align-self: flex-end; 
}


/* @media (max-width:320px) {
    .start-puppy {
max-width: 50%;
max-height: 50%;
    }  
} */

.about {
/* About */
/* position: relative; */
/* max-width: 80%; */
display: flex;
flex-flow: row nowrap;

column-gap: 120px;
/* justify-content: center; */
margin: 80px 215px 100px 215px;
background: rgb(255, 255, 255);
}


.about__content {
/* padding-top: 14px; */
max-width: 1280px;
margin: 0 auto;
/* max-height: 100%; */
display: flex;
flex-direction: row;
justify-content: space-around;

}

.about__text {
    max-width: 52%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 24px; 
    padding-top: 15px;
    padding-left: 3px;
    align-content: center;
}
.about__pets {
    max-width:70%;
    max-height: 408px;
    margin-left: 45px;
    /* max-width: 100%;
    min-width: 50%; */
    align-self: center;
}

.about__title {
/* Heading */
/* position: relative; */
max-width: 71%;
/* max-width: 370px; */
/* height: 92px; */
color: #545454;
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45.3px;
letter-spacing: 0.06em;
text-align: left;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
/* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}

.about__subtitle {
/* Subheading */
/* position: relative; */
/* max-width: 70%; */
/* max-width: 430px; */
/* height: 97px; */
max-width: 82%;
color: rgb(76, 76, 76);
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
/* letter-spacing: 0.06px; */
text-align: left;
}

.about__subtitle2 {
/* Subheading */
/* width: 430px;
height: 144px; */
/* max-width: 70%; */
max-width: 82%;
display: flex;
flex-direction: row;
/* align-items: center; */

color: rgb(76, 76, 76);
font-family: Arial;
font-size: 15px;
font-weight: 400;
line-height: 24px;
/* letter-spacing: 0.06px; */
text-align: left;
}


.pets {
/* Pets */
display: flex;
flex-direction: column;
background: rgb(246, 246, 246);
align-items: center;
padding-bottom: 101px;
overflow-x: hidden;
}

.pets__title {
/* Heading */
/* position: relative; */
justify-content: center;
color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 34.5px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.067em;
text-align: center;
padding-top: 81px;
padding-left: 3px;
}

.pets__slider {
/* Slider */
overflow-x: hidden;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
gap: 90px;
padding: 59px 0px;

/* display: grid;
grid-template-columns: 3.5rem 1fr 1fr 1fr 3.5rem;
grid-gap: 90px;*/
}

.slider__card{
background: rgb(250, 250, 250);
border-radius: 9px 9px 9px 9px;
display: flex;
flex-direction: column;
row-gap: 30px;
align-items: center; 
height: 435px;
/* width: 235px; */
transition-duration: 0.5s;
}

.slider__card:hover {
background-color: #FFFFFF;
box-shadow: 0px 12px 45px 24px #0D0D0D0A;
cursor: pointer;
}

.slider__card:hover > .card__btn {
border: 2px solid #FDDCC4;
background: #FDDCC4;
cursor: pointer;
}

.slider__card-title {
margin-left: 1px;
width: fit-content;
height: 23px;
color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 22.72px;
letter-spacing: 0.06em;
align-items: center;
text-align: center;

}

.card__btn {
width: 187px;
height: 52px;
box-sizing: border-box;
border: 2px solid rgb(241, 205, 179);
border-radius: 100px;
background: inherit;
color: rgb(41, 41, 41);
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 22.1px;
letter-spacing: 0.06em;
transition-duration: 0.5s;
}

/* .slider__buttons {
    display: flex;
    justify-content: space-between;
    min-width: 84%;
    align-self: center;
    margin-top: 40px;
} */

.slider__btn {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
width: 52px;
height: 52px;
border: none;  
border-radius: 50%;
background-color: #F6F6F6;
border: 2px solid #F1CDB3;
transition-duration: 0.5s;
}

.slider__btn:hover{
border: 2px solid #FDDCC4;
background: #FDDCC4;
cursor: pointer;
}

.slider__btn--left {
margin-right: -37px;
margin-top: 1px;
}

.slider__btn--right {
margin-left: -37px;
margin-top: 1px;
}

.pets__btn {
/* position: relative; */
margin-top: 1px;
margin-left: 1px;
border: none;
width: 261px;
height: 52px;
padding: 15px 45px 15px 45px;
border-radius: 100px;
background: rgb(241, 205, 179);
transition-duration: 0.5s;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.pets__btn:hover {
background: #FDDCC4;
cursor: pointer;
/* transition-duration: 0.5s; */
}

.pets__btn-text {
/* position: relative; */
justify-content: center;
/* padding-left: 2px; */
color: rgb(41, 41, 41);
font-family: Georgia;
font-size: 17px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0.058em;
/* text-align: left;  */
}


.help {
/* Help */
/* position: relative; */
display: flex;
flex-direction: column;
align-items: center;
background: rgb(255, 255, 255);
max-width: 1200px;
margin: 0 auto;
}

.help__title {
/* Heading */
/* position: relative; */
padding-top: 79px;
padding-left: 2px;
color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45.5px;
letter-spacing: 0.06em;
text-align: center;
}

.help__list {
/* position: relative; */
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 55px 120px;
align-items: start;
place-content: center;
padding: 60px 40px 101px 40px;
}

.help__list-item {
display: flex;
flex-direction: column;
max-width: 166px;
max-height: 113px;
}

.help__list-icon {
height: fit-content;
padding-bottom: 25px;
}

.help__list-link {
text-decoration: none;
text-align: center;
/* height: 113px; */
transition-duration: 0.5s;
}

.help__icon {
    transition-duration: 0.5s;
}

.help__list-text {
    transition-duration: 0.5s; 
}

.help__list-link:hover {
 fill: #FDDCC4;
 color:  #292929;;

.help__icon {
   fill: #FDDCC4;  
}

.help__list-text {
    color: #292929;
}
}

.help__list-text {
display: flex;
text-align: center;
align-items: center;

flex-direction: column;
color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 20px;
font-weight: 400;
letter-spacing: 0.06em;
text-align: center;
/* margin-top: 26px; */
}


.in-addition {
/* Donation */
/* position: relative; */
max-width: 100%;
background: rgb(246, 246, 246);
}

.in-addition__wrapper {  
max-width: 1280px;
margin: 0 auto;
display: flex;
flex-direction: row;
/* column-gap: 30px; */
column-gap: 25px;
justify-content: center;
padding-top: 80px;
padding-bottom: 100px;
}

.in-addition__content {
/* Donation-content */
/* max-width: 380px; */
max-width: 30%;
/* max-height: auto; */
padding-left: 5px;
display: flex;
flex-direction: column;
row-gap: 19.8px;
}

.in-addition__img {
position: relative;
width: fit-content;
height: fit-content;
padding-top: 11px;
}

.in-addition__title {
align-items: center;

color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0.06em;
text-align: left;
}

.in-addition__subtitle {
display: flex;
flex-direction: row;
align-items: center;

color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 15px;
font-weight: 400;
line-height: 16.5px;
letter-spacing: 0.06em;
text-align: left;
}

.in-addition__text {
display: flex;
flex-direction: row;
align-items: center;

color: rgb(178, 178, 178);
font-family: Arial;
font-style: italic;
font-size: 12px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0px;
text-align: left;
}

.credit-card {
margin-left: 0.5px;
width: 349px;
height: 43px;
display: flex;
/* flex-direction: row;
column-gap: 15px;
align-items: center; */
padding: 10px 15px 10px 15px;
border-radius: 9px;
background: rgb(241, 205, 179);
transition-duration: 0.5s;
}

.credit-card__link {
display: flex;
flex-direction: row;
column-gap: 15px;
align-items: center;   
}

.credit-card:hover {
    background: #FDDCC4;
    cursor: pointer;
}

.credit-card__number {
display: flex;
flex-direction: row;
align-items: stretch;

color: rgb(84, 84, 84);
font-family: Georgia;
font-size: 20px;
font-weight: 400;
line-height: 115%;
letter-spacing: 0.058em;
text-align: left;
}

.footer {
/* position: relative; */
flex-direction: row;
justify-content: space-between;
background: url(./img/pets/noise_transparent@2x.svg) top left / 130px repeat, 
radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
#211f20;
}


.footer__nav {
/* position: relative; */
max-width: 1280px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
row-gap: 30px;
justify-content: space-between;
padding: 40px 40px 0px 40px;
}


.contacts {
display: flex;
flex-direction: column;
flex-wrap: wrap;
row-gap: 39.5px; 
padding-top: 16.5px;
}

.locations {
max-width: max-content;
display: flex;
flex-direction: column;
flex-wrap: wrap;
row-gap: 32px; 
padding-top: 16.5px;
margin-left: -8px;
}


.contacts__title,
.locations__title {
/* position: relative; */
height: 90px;
color: rgb(255, 255, 255);
font-family: Georgia;
font-size: 35px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.06em;
text-align: left;
opacity: 0.9;
}

.locations__title {
padding-left: 1px;
}

.contacts__list {
list-style: none;
display: flex;
flex-direction: column;
row-gap: 40px;
}

.locations__list {
list-style: none;
display: flex;
flex-direction: column;
row-gap: 33px;
}

.contact__link,
.locations__link {
text-decoration: none;
display: flex;
flex-direction: row;
align-items: center;
column-gap: 20px;
transition-duration: 0.5s;
}

.icon__path{
stroke-width: 2;
transition-duration: 0.5s;
}

.contact__text,
.locations__text {
   transition-duration: 0.5s;
}

.contact__link:hover {
    color: #FDDCC4;  
    fill:#FDDCC4;  
  
   .icon__path {
    fill: #FDDCC4;  
    }
    .contact__text {
        color: #FDDCC4;
    }
}

.locations__link:hover {
    color: #FDDCC4;  
    fill:#FDDCC4;  

   .icon__path{
    fill: #FDDCC4;  
    }
    .locations__text {
        color: #FDDCC4;
    }
}



.locations__item {
display: flex;
flex-wrap: wrap;
}

.locations__text {
white-space: none;
}

.contact__text,
.locations__text {
color: rgb(241, 205, 179);
font-family: Georgia;
font-style: normal;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0.06em;
}

.locations__item--address {
/* position: relative; */
padding-top: 1px;
display: flex;
}


.footer-puppy {
display: flex;
/* position: relative; */
max-width: 300px;
max-height: 310px;
}


/* @media (max-width:768px) {
    .home {
        margin: 0 auto;
        background: url(./img/pets/noise_transparent@2x.svg) top left / 15% repeat,
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    }
} */


@media (max-width:768px) {
    .header__content {
        max-width: 100%;
        padding: 0px 30px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .not-only__content {
        margin-top: 80px;
        display: flex;
        align-self: flex-start; 
    }
}

@media (max-width:768px) {
    .not-only {
        display: flex;
        flex-direction: column;
        margin-top: -193px;
    }
    .not-only__container {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       margin: 0 auto;
       /* align-items: center;
       padding-left: 27px; */
       /* padding-left: 2px; */
}

    .not-only__content {
        max-width: 71%;
        display: flex;
        justify-content: center;
        /* padding-left: 27px; */
        /* margin-left: 70px; */
    }
    .not-only__title {
        display: flex;
        flex-direction: column;
        width: 66%;
        padding-left: 20px;
        /* margin-left: 70px; */
    }

   .not-only__text {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 92%;
   }

    .not-only__btn {
        /* margin: 0 126.5px; */
        /* display: flex;
        flex-direction: column; */
        margin-left: -1px;
        margin-bottom: 100px;
        align-self: center;
    }
}

@media (max-width:768px) {
    .start-puppy { 
 display: flex;
 max-width: 80.5%;
 /* max-height: 81.5%; */
 position: sticky;
 align-self: flex-end;
 margin-left: 8.5px;
 box-sizing: content-box;
 /* margin-right: 20px; */
 /* align-items: center; */
    } 
 }


@media (min-width: 769px) and (max-width: 1279px) {
    .about {
        max-width: 100%;
        margin: 40px 0px 50px 0px;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    .about__content { 
        max-width: 100%;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
        align-items: center;
    }

    .about__text {
        max-width: 100%;
        display: flex;
        margin-left: -11px;
        margin-top: 66px;
        align-items: flex-start;
    }
    .about__pets {
        margin-left: 0px;
        max-width: 48%;
        max-height: 408px;
        margin-top: 80px;
        margin-bottom: 20px;
        align-items: flex-end;
    }

}

@media (min-width:768px) and (max-width:768px) {
    .about {
        margin: 0 auto;
        padding: 0;
        align-items: center;
    }
     
    .about__content { 
        max-width: 82%;
        margin-bottom: 80px ;
        display: flex;
        flex-direction: column-reverse;
        text-align: left;
        align-items: center;
    }

    /* .about__title {
        padding-top: 1px;
    } */

    .about__text {
        max-width: 82%;
        display: flex;
        margin-left: -11px;
        margin-top: 65.5px;
        row-gap: 24px;
        align-items: flex-start;
    }
    .about__pets {
        margin-left: 0px;
        max-width: 48%;
        max-height: 408px;
        margin-top: 80px;
        margin-bottom: 20px;
        align-items: flex-end;
    }

    .about__subtitle2 {
        padding-top: 1px;
    }
}
    

@media (min-width:768px) and (max-width:1279px){

    .pets__slider {
        display: flex;
        flex-direction: row;
        column-gap: 40px;
        overflow-x: hidden;
        padding: 59.5px 0px;
    }

    .pets__btn {
        margin: 0 auto;
    }
    .slider__card:nth-child(4) {
        display: none;
        /* position: absolute; */
   }
   .slider__btn--left {
       margin-right: -28px;;
    }
    
    .slider__btn--right {
       margin-left: -28px;;
    }
}



@media (min-width:768px) and (max-width:1024px) {
    .help__list {
        display: flex;
        flex-direction: row;
        gap: 55px 64px;
        margin: 0 auto;
        padding: 59px 40px 101px 40px;

    }
    .help__list-item {
        width: 166px;
        height: 113px;
        }

}
@media (min-width:670px) and (max-width:767px) {
    .help__list {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        /* gap: 30px 0px; */
        justify-content: space-between;
        padding: 41px 15px 42px 15px;
    }
}


@media (min-width:768px) and (max-width:1024px) {
    .in-addition__wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 100px;
        padding-top: 79px;
    }

    .in-addition__content {
        max-width: 50.5%;
        margin: 0 auto;
        padding-left: 3px;
    }

    .in-addition__img {
        margin-top: 49px;
    }

    
    .contacts {
        margin-top: -25px;
        padding: 0 25px;

    }
    .locations  {
        margin-top: -25px;
        padding: 0 31px;
    }

    .footer {
        box-sizing: unset;
    }

    .footer__nav {
        padding: 55px 40px 0px 40px;
    }

    .footer-puppy {
        height: 100%;
        width: 100%;
        padding-top: 35px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: unset;
    }

}



/* ____________________responsive_320px___________________ */


@media (min-width:320px) and (max-width:767px) {
    .header__content {
       padding: 0px 20px;
    }

    .menu__list {
       display: none;
   }

    .not-only__content {
       max-width: 99%;
       display: flex;
       text-align: center;
   }

   .not-only__title {
       padding: 0;
       margin: 0 auto;
       max-width: 65%;
       font-weight: 400;
       font-size: clamp(1.5625rem, 0.8914rem + 3.3557vw, 2.5rem);
       line-height: 130%;
       letter-spacing: 0.06em;
       text-align: center;
       width: 100%;
       height: 30%;
    }

    .not-only__text {
       text-align: center;

    }

    .not-only__btn {
       margin-top: -1px;
       margin-bottom: 105px;
   }

    .start-puppy {
       max-width: 81.5%;
       padding-left: 39px;
       margin: 0 auto;
       display: flex;
       align-self: center; 

   }

    .burger {
      margin-top: 19px;
      padding-right: 2px;
      display: inline-block;
      position: relative;
      width: 30px;
      height: 22px;
   }

   .burger::before {
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      background-color: #F1CDB3;
   }
   .burger::after {
       content: '';
       left: 0;
       bottom: 0;
       position: absolute;
       display: inline-block;
       width: 100%;
       height: 2px;
       background-color: #F1CDB3; 
   }

   .burger__line {
      display: inline-block;
      position: absolute;
      background-color: #F1CDB3;
      width: 100%;
      height: 2px;
      top: calc(50% - 1px);
   }

   .about {
       margin: 0 auto;
   }

   .about__content {
       display: flex;
       flex-direction: column-reverse;
   }

   .about__text {
       padding: 42px 1px 0px 1px;
       padding-right: 1px;
       display: flex;
       row-gap: 22px;
       max-width: 100%;
   }
  
   .about__title  {
       font-weight: 400;
       font-size: clamp(1.5625rem, 0.8914rem + 3.3557vw, 2.5rem);
       line-height: 131%;
       align-self: center;
       text-align: center;
   }

   .about__subtitle,
   .about__subtitle2 {
     margin-top: 1px;
     max-width: 85%;
     font-weight: 400;
     font-size: 15px;
     line-height: 160%;
     text-align: justify;
   }
    .about__pets {
       max-width: 81.5%;
       margin: 0 auto;
       padding-top: 40px;
       margin-bottom: 42px;   
       /* padding-left: 0px; */
    }


    .pets__title,
    .help__title {
           padding-top: 42px;
           margin: 0px auto;
           font-weight: 400;
           font-size: clamp(1.5625rem, 0.8914rem + 3.3557vw, 2.5rem);
           line-height: 130%;
           letter-spacing: 0.06em;
           align-self: center;
           text-align: center;
    }
    
    .in-addition__title {
       padding-top: 42px;
       margin: 0px auto;
       font-weight: 400;
       font-size: clamp(1.5625rem, 0.8914rem + 3.3557vw, 2.5rem);
       line-height: 130%;
       letter-spacing: 0.06em;
       align-self: center;
       text-align: center;
    }

    .pets {
        overflow-x: hidden;
        padding-bottom: 41px;
      }

      .slider__card:nth-child(3),
      .slider__card:nth-child(4) {
       display: none;
      }

      .pets__slider {
        display: flex;
        flex-direction: column-reverse;
        padding: 41px 0px;
        row-gap: 0px;
      }

      .slider__btn--right {
        margin-left: 133px;
        margin-top: 20px; 
      }  

      .slider__btn--left {
        margin-right: 133px;
        margin-top: -52px;
      }  

      .slider__card:nth-child(2) {
        order: 1;
      }
      .slider__card:nth-child(1) {
        order: 2;
      }

      /* .slider__card:nth-child(5) {
        order: 3;
      } */

      .pets__btn {
        margin: 1px auto;
      }


      .help__title {
        padding-top: 42px;
      }

      .help__list-item {
       height: 87px;
       width: 130px; 
      }

      .help__list-icon {
        max-width: 50px;
        padding-bottom:16px;
      }

      .help__list-text {
        text-wrap: nowrap;
        margin: 0;
        padding: 0;
        font-size: clamp(0.9375rem, 0.7138rem + 1.1186vw, 1.25rem);
      }


      .in-addition__wrapper {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
      }

      .in-addition__content{
        padding: 0;
        max-width: 100%;
        display: flex;
        row-gap: 22px;
        align-items: center;
      }

      .in-addition__subtitle {
        font-weight: 400;
        font-size: 15px;
        line-height: 128%;
        letter-spacing: 0;
      }

      .in-addition__text {
        margin-top: -1px;
       max-width: 87%;
       font-style: italic;
       font-weight: 400;
       font-size: 12px;
       line-height: 150%;
       text-align: justify;
    
      }
    

     .credit-card {
        padding: 0;
        margin: 0 auto;
        display: flex;
        max-width: 87.5%;
        justify-content: center;

     }

     .credit-card__number {
        font-weight: 400;
        font-size: clamp(0.9375rem, 0.7138rem + 1.1186vw, 1.25rem);
        line-height: 110%;
        letter-spacing: 0.06em;
     }

     .in-addition__img {
        padding-top: 40.5px;
        padding-bottom: 41.5px;
        margin: 0 auto;
        max-width: 82%;
     }


     .footer__nav {
        padding: 2px;
        max-width: 91%;
        /* row-gap: 11px; */
     }

     .contacts {
      padding-top: 28px;
      row-gap: 14px;
     }

     .contacts__title {
        max-width: 100%;
        padding: 0;
        font-weight: 400;
        font-size: clamp(1.5625rem, 1.1151rem + 2.2371vw, 2.1875rem);
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
     }

     .contacts__list {
        margin: 0 auto;
     }

     .contact__icon--phone {
        margin-left: 6px;
     }

     .locations {
        padding-top: 10px;
        row-gap: 13px;
     }

     .locations__list {
        margin: 0 auto;
        row-gap: 40px;
        padding-left: 1px;
        /* margin-left: -5px; */
     }

     .locations__title {
        max-width: 100%;
        padding-left: 9px;
        font-weight: 400;
        font-size: clamp(1.5625rem, 1.1151rem + 2.2371vw, 2.1875rem);
        line-height: 130%;
        letter-spacing: 0.06em;
        text-align: center;
        justify-content: center;
     }

     .footer__title-br {
        display: none;
     }

     .footer__nav {
        justify-content: center;
     }

     .footer-puppy {
        max-width: 90.7%;
        padding-top: 10px;
     } 

     }


     @media (min-width: 321px) and (max-width: 669px) {
        .help__list {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            gap: 30px;
            justify-content: space-between;
            padding: 41px 15px 40px 15px;
          }
     }

     @media (max-width:320px) {
         .help__list {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
            gap: 30px 0px;
            justify-content: space-between;
            padding: 41px 15px 42px 15px;
          }
     }

